# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual environment
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# Data (raw and processed files if large)
data/raw/
data/processed/

# Models (PKL files)
models/*.pkl

# OS files
.DS_Store
Thumbs.db

# IDE / PyCharm
.idea/
*.iml
